<!DOCTYPE HTML>
<head>
    <title>创业学院后台登录系统</title>
    <meta charset=utf-8"/>
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link rel="stylesheet" href="__STATIC__/css/admin-style.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="__STATIC__/css/font-awesome.css">
</head>

<body>
<div class="video-w3l" data-vide-bg="__STATIC__/video/1">
    <!--header-->
    <div class="header-w3l">
        <h1>
            <span>创</span>新
            <span>创</span>意
            <span>创</span>业
        </h1>
    </div>
    <!--//header-->
    <div class="main-content-agile">
        <div class="sub-main-w3">
            <h2>创业学院后台登陆系统</h2>
            <form action="__PUBLIC__/admin/index/login" method="post">
                <div class="pom-agile">
                    <span class="fa fa-user-o" aria-hidden="true"></span>
                    <input placeholder="用户" name="account" class="user" type="text">
                </div>
                <div class="pom-agile">
                    <span class="fa fa-key" aria-hidden="true"></span>
                    <input placeholder="密码" name="password" class="pass" type="password">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="验证码" class="form-control" name="captcha">
                </div>
                <img src="{:captcha_src()}" alt="captcha"
                     onclick="javascript:this.src='{:captcha_src()}?tm='+Math.random();" class="yz-img"/>
                <div class="right-w3l">
                    <input type="submit" value="登陆" id="login">
                </div>
            </form>
        </div>
    </div>
    <!--//main-->
    <!--footer-->
    <div class="footer">
        <p>&copy; 2018 Effective Login Form. All rights reserved | Design by
            <a href="http://www.yamwl.com/">Yamu</a>
        </p>
    </div>
    <!--//footer-->
</div>

<!-- js -->
<script src="__STATIC__/js/jquery-1.11.0.min.js"></script>
<script src="__STATIC__/js/jquery.vide.min.js"></script>
<!-- //js -->

</body>

</html>