{include file="Public/top" /}
<!-- 右侧 -->
<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">


    <ol class="breadcrumb">
        <li><a href="__PUBLIC__/admin/index/manage
                    ">首页</a></li>
        <li class="active">后台介绍</li>
    </ol>
    <div class="container">


        <h1>系统基本信息</h1>


        <li>
            <label>操作系统</label><span>WINNT</span>
        </li>
        <li>
            <label>运行环境</label><span>Apache/2.2.21 (Win64) PHP/5.3.10</span>
        </li>
        <li>
            <label>PHP运行方式</label><span>apache2handler</span>
        </li>

        <li>
            <label>上传附件限制</label><span>2M</span>
        </li>
        <li>
            <label>服务器域名/IP</label><span>localhost [ 127.0.0.1 ]</span>
        </li>
        <li>
            <label>Host</label><span>127.0.0.1</span>
        </li>
        <li>
            <label>技术支持</label><span>雅木科技</span>
        </li>
        <li>
            <label>开发-版本</label><span>v-1.0.5</span>
        </li>
        </ul>

    </div>
    {include file="Public/footer" /}