{include file="Public/top" /}
<!-- 右侧 -->
<div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
    <ol class="breadcrumb">
        <li><a href="__PUBLIC__/index.php/admin/index/manage
                    ">首页</a></li>
        <li class="active">后台首页</li>
    </ol>
    <div class="video-w3l" data-vide-bg="__STATIC__/video/1">
        <!--header-->
        <div class="header-w3l">
            <h1>
                <span>创</span>业学院<span>后台管理</span>系统
                <br>
                <br>
                <span>创</span>新
                <span>创</span>意
                <span>创</span>业
            </h1>
        </div>
        <!--//header-->
    </div>
</div>
<script>
    addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>
<link rel="stylesheet" href="__STATIC__/css/manage-style.css" type="text/css" media="all"/>
<link rel="stylesheet" href="__STATIC__/css/font-awesome.css">
<script src="__STATIC__/js/jquery-1.11.0.min.js"></script>
<script src="__STATIC__/js/jquery.vide.min.js"></script>
{include file="Public/footer" /}