<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>江汉大学创业学院 后台管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="__STATIC__/layer/layer.js" ></script>
    <script src="__STATIC__/layui/layui.all.js" ></script>
    <style>
        body {
            display: flex;
            flex-flow: column;
            min-height: 100vh;
        }
         #tipsone{         
    color: #fff;
    background-color: #b73345;
    border-color: #b73345;
         }
        main {
            flex: 1;
        }
    </style>
    <script type="text/javascript">
$(document).ready(function(){
      $("#tipsone").click(function(){
layer.msg('请上传1920*433像素的jpg格式照片#^_^#', {
  icon: 1,
  time: 3000 //2秒关闭（如果不配置，默认是3秒）
}, function(){
  //do something
          }); 
          });
                  $("#btn").click(function(){ 
                    layer.confirm('是否提交?', {icon: 3, title:'提示'}, function(index){
                                  layer.msg("你已提交成功#^_^#，3秒后自动刷新");
                                  setTimeout("$('#save_form').submit()","3000"); // $('#save_form').submit();
                    layer.close(index);
                     });
            return false;
                     });
      });

          
</script>
</head>
<body>

<main>
    <nav class="navbar navbar-inverse " style=" border-radius: 0px;margin-bottom: 10px;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="__PUBLIC__/index.php/admin/index/index">江汉大学创业学院 后台管理</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="__PUBLIC__/index.php" target="_blank">预览官网</a>
                    </li>
                    <li><a href="#">{$Think.cookie.account} 管理员您好！</a>

                    </li>
                    <li>
                        <a href="__PUBLIC__/index.php/admin/index/exitaccount">退出 </a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <!-- 这个是全局容器 -->
    <div class="container-fluid">
        <!-- 以下是左右两侧 -->

        <div class="row">
            <!-- 左侧 -->
            <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">

                <!-- 折叠开始 -->
                <div class="panel-group" id="accordion">


                </div>
                <!-- 折叠结束 -->
                <div class="list-group">
                    <a href="#" class="list-group-item disabled">
                        <img src="__STATIC__/admin/notice.png" width="10%" height="10%">公告管理
                    </a>
                    <a href="__PUBLIC__/index.php/admin/noticement/edit" class="list-group-item">
                        ● 公告添加</a>
                    <a href="__PUBLIC__/index.php/admin/noticement/show" class="list-group-item">
                        ● 公告列表</a>
                </div>

                <div class="list-group">
                    <a href="#" class="list-group-item disabled">
                        <img src="__STATIC__/admin/news.png" width="10%" height="10%">新闻管理
                    </a>
                    <a href="__PUBLIC__/index.php/admin/newsment/edit" class="list-group-item">
                        ● 新闻添加</a>
                    <a href="__PUBLIC__/index.php/admin/newsment/show" class="list-group-item">
                        ● 新闻列表</a>
                </div>

                <div class="list-group">
                    <a href="#" class="list-group-item disabled">
                        <img src="__STATIC__/admin/teamadding.png" width="10%" height="10%">团队管理
                    </a>
                    <a href="__PUBLIC__/index.php/admin/teamment/edit" class="list-group-item">
                        ● 团队添加</a>
                    <a href="__PUBLIC__/index.php/admin/teamment/show" class="list-group-item">
                        ● 团队列表</a>
                </div>

                <div class="list-group">
                    <a href="#" class="list-group-item disabled">
                        <img src="__STATIC__/admin/file.png" width="10%" height="10%">文件管理
                    </a>
                    <a href="__PUBLIC__/index.php/admin/filement/edit" class="list-group-item">
                        ● 文件添加</a>
                    <a href="__PUBLIC__/index.php/admin/filement/show" class="list-group-item">
                        ● 文件列表</a>
                </div>

                   <div class="list-group">
                    <a href="#" class="list-group-item disabled">
                        <img src="__STATIC__/admin/image.png" width="10%" height="10%">轮换图管理
                    </a>
                    <a href="__PUBLIC__/index.php/admin/slideshow/edit" class="list-group-item">
                        ● 轮换图编辑</a>
                </div>


            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
