<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>文件下载</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/searchshow-form.css">
</head>

<body>
{include file="Index/header" /}

<div class="news_wrapper">
    <div class="col_menu">
        <div class="col_head">
            <span>文件下载</span>
        </div>
    </div>
    <div class="col_news">
        <div class="news_head">
        </div>
        <div class="list_detail ">
            <div class="list_detail_1">标题</div>
            <div class="list_detail_2">发布时间</div>
            <div class="list_detail_3">浏览次数</div>
        </div>
        <div id="secondPage" class="show">
            <ul>
                {volist name="res" id="each" empty="未检测到数据库"}
                <li id="erg" class="list_news"><a href="__STATIC__/{$each.path}">{$each.title}</a>
                    <span class="label_datatime news_datatime">2018-04-01</span>
                    <span class="news_count">12</span>
                </li>
                {/volist}
            </ul>
        </div>
        {$res->render()}
    </div>
</div>
    {include file="Index/footer" /}
</body>

</html>