<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>文件下载</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/searchshow-form.css">
</head>

<body>
{include file="Index/header" /}

<div class="news_wrapper">
    <div class="col_menu">
        <div class="col_head">
            <span>文件下载</span>
        </div>
    </div>
    <div class="col_news">
        <div class="list_detail ">
            <div class="list_detail_1">文件名</div>
            <div class="list_detail_2">发布时间</div>
            <div class="list_detail_3">下载次数</div>
        </div>
        <div id="secondPage" class="show">
            <ul>
                {volist name="file" id="vo"}
                <li id="erg" class="list_news"><a href="__PUBLIC__/upload/{$vo.filepath}">{$vo.title}</a>
                    <span class="label_datatime news_datatime">{$vo.create_time |date="Y-m-d",###}</span>
                    <span class="news_count">{$vo.browsing}</span>
                </li>
                {/volist}
            </ul>
        </div>
        {$page}
    </div>
</div>
{include file="Index/footer" /}
</body>
</html>