<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <title>江汉大学创业学院</title>
    <link rel="stylesheet" href="__STATIC__/css/mystyle.css">
</head>

<body BGCOLOR="#EFEFEF">
    <div class="headbar">
        <div class="banner">
            <div class="head-top">
                <div class="logo">
                    <img src="__STATIC__/images/logo.png" width="70px" height="70px" alt="江汉大学">
                    <span class="font">江汉大学</span>
                    <img src="__STATIC__/images/logo_2.png" width="70px" height="70px" alt="创业学院">
                    <span class="font">创业学院</span>
                </div>
                <form action="__PUBLIC__/index.php/index/index/searchshow" class="search-form" method="post">
                    <div class="search-wrapper">
                        <div class="input-holder">
                            <input type="text" class="search-input" name="search_name" />
                            <button class="search-icon" onclick="searchToggle(this, event);"><span></span></button>
                        </div>
                        <span class="close" onclick="searchToggle(this, event);"></span>
                        <div class="result-container">
                        </div>
                    </div>
                </form>
            </div>
        </div>
                <div class="wrapper">
            <div class="primary-menu">
                <ul class="nav-menu">
                    <li><a href="__PUBLIC__">
                    <i class="ic1"></i>
                    <span class="text">学院首页</span>
                </a></li>
                    <li><a href="">
                    <i class="ic2"></i>
                    <span class="text">学院简介</span>
                </a></li>
                    <li><a href="__PUBLIC__/index.php/index/index/newnotice">
                    <i class="ic3"></i>
                    <span class="text">新闻公告</span>
                </a></li>
                    <li><a href="">
                    <i class="ic4"></i>
                    <span class="text">入驻团队</span>
                </a></li>
                    <li><a href="">
                    <i class="ic5"></i>
                    <span class="text">文件下载</span>
                </a></li>
                </ul>
            </div>
        </div>