<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <title>江汉大学创业学院</title>
    <style type="text/css">
   .radiusImg{
border-radius:50%;
-moz-border-radius:50%; /* Old Firefox */
-webkit-border-radius:50%; /* Safari 和 Chrome */
-o-border-radius:50%; /* Opera */
   }
</style>
</head>
{include file="Index/header" /}
<div class="carousel">
    <ul class="images-wrapper">
        <div id="pre" class="button left"></div>
        <div id="next" class="button right"></div>
        <li class="a"><a href=""><img src="__STATIC__/images/e.jpg" alt="" width=100%></a></li>
        <li class="a" style="z-index: -1"><a href=""><img src="__STATIC__/images/a.jpg" alt="" width=100%></a></li>
        <li class="a" style="z-index: -2"><a href=""><img src="__STATIC__/images/b.jpg" alt="" width=100%></a></li>
    </ul>
</div>
<div class="wp-container">
    <div class="con-wap clearfix">
        <div id="tab">
            <div id="news" class="col">学院新闻 <span class="more"><a href="__PUBLIC__/index/index/news">MORE+</a></span></div>
            <div id="firstPage" class="show">
                <ul class="jh_notice">
                    {volist name="ress" id="each" empty="未检索到数据库"}
                    <li>
                        <span class="label_datatime">2018-04-01</span>
                        <p>{$each.title}</p>
                    </li>
                    {/volist}
                </ul>
            </div>
            <div id="notice" class="col">通知公告 <span class="more"><a href="login.html">MORE+</a></span></div>
            <div id="secondPage" class="hide">
               <ul class="jh_notice">
                    {volist name="ress" id="each" empty="未检索到数据库"}
                    <li>
                        <span class="label_datatime">2018-04-01</span>
                        <p>{$each.title}</p>
                    </li>
                    {/volist}
                </ul>
            </div>
        </div>
        <div class="team-sidebar">
            <div class="team-title">
                <p>入驻团队</p>
            </div>
            <hr />
            <div class="team-list">
                <dl>
                    <dt>队标</dt>
                    <dd>团队名</dd>
                </dl>
                {volist name="res" id="vo"}
                <dl>
                    <dt><img class="radiusImg" src="__PUBLIC__/uploads/{$vo.mark}" height="50" width="50"></dt>
                    <dd>{$vo.name}</dd>
                </dl>
                {/volist}
            </div>
        </div>
    </div>

{include file="Index/footer" /}

    <script>
    (function() {
        var a = document.getElementsByClassName('a');
        var pre = document.getElementById('pre');
        var next = document.getElementById('next');
        var main = document.getElementsByClassName('images-wrapper')[0];
        var count = a.length;
        var bool = false;
        var i = 0;

        function moveleft() {
            var next = (i + 1) % count;
            a[next].style.transition = "left 0s";
            a[next].style.left = "100%";
            a[next].style.zIndex = "1";
            setTimeout(function() {
                a[i].style.left = "-100%";
                a[i].style.zIndex = '0';
                a[next].style.transition = "left .5s";
                a[next].style.left = "0";
                i = (i + 1) % count;
            }, 100);

        }

        function moveright() {
            var next = (i - 1 + count) % count;
            a[next].style.transition = "left 0s";
            a[next].style.left = "-100%";
            a[next].style.zIndex = "1";
            setTimeout(function() {
                a[i].style.left = "100%";
                a[i].style.zIndex = '0';
                a[next].style.transition = "left .5s";
                a[next].style.left = "0";
                i = (i - 1 + count) % count;
            }, 100);
        }

        var time = setInterval(moveleft, 3500);
        pre.onclick = function() {
            moveleft();
            if (!bool) {
                clearInterval(time);
                bool = true;
            }
        };
        next.onclick = function() {
            moveright();
            if (!bool) {
                clearInterval(time);
                bool = true;
            }
        };
        main.onmouseleave = function(event) {
            if (bool && event.relatedTarget) {
                time = setInterval(moveleft, 3500);
                bool = false;
            }
            if (event.relatedTarget) {
                pre.style.opacity = '0';
                next.style.opacity = '0';
            }
        };
        main.onmouseenter = function() {
            pre.style.opacity = '1';
            next.style.opacity = '1';
        };

    })()
    </script>
    </body>

</html>