<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
</head>
<body>
{include file="Index/header" /}
{volist name="res" id="vo"}
<article class="news_wrapper">
    <h1>{$vo.title}</h1>
    <hr>
    <p class="meta">
        <span>作者：{$vo.publisher}</span>
        <span>时间：{$vo.create_time |date="Y-m-d H:i:s:",###}</span>
        <span>浏览：{$vo.browsing}</span>
    </p>
    <div>
        {$vo.content}
    </div>
</article>
{/volist}
{include file="Index/footer" /}
</body>
</html>