<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>新闻公告</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js">
    </script>
</head>
{include file="Index/header" /}

<body>
<div class="news_wrapper">
    <div class="col_menu">
        <div class="col_head">
            <span>新闻公告</span>
        </div>
        <div class="col_menu_con">
            <ul class="listcolumn">
                <li class="column-2">
                    <a href="__PUBLIC__/index/index/newnotice" title="学院新闻"><span class="column-name">学院新闻</span></a>
                </li>
                <li class="column-1">
                    <a href="__PUBLIC__/index/index/newnotice2" title="通知公告"><span class="column-name">通知公告</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col_news">
        <div class="news_head">
        </div>
        <div class="list_detail ">
            <div class="list_detail_1">标题</div>
            <div class="list_detail_2">发布时间</div>
            <div class="list_detail_3">浏览次数</div>
        </div>
        <div id="secondPage" class="show">
            <ul>
                {volist name="res" id="vo"}
                <li id="erg" class="list_news"><a href="__PUBLIC__/index/index/article?id=-{$vo.id}">{$vo.title}</a>
                    <span class="label_datatime news_datatime">{$vo.create_time}</span>
                    <span class="news_count">{$vo.browsing}</span>
                </li>
                {/volist}
            </ul>
        </div>
        {$page}

    </div>
</div>
{include file="Index/footer" /}
</body>

</html>