<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js">
    </script>
    <script src="__STATIC__/js/news.js" type="text/javascript"></script>
    <script type="text/javascript">
    /* $(document).ready(function () {
                            var ready = 0;//页面下标数
                            var numPage = 2;//每个页面的显示数量
                            var allPage = Math.ceil($("#secondPage p").size() / numPage);//总页面数
                            $("#allPage").text(function (i, origText) {
                                return allPage;
                            });
                            $("#currentPage").text(function (i, origText) {
                                return 1;
                            });
                            $("#secondPage p").slice(ready + numPage).hide();
                            $("#up").click(function () {
                                if (ready > 0) {
                                    ready = ready - numPage;
                                    $("#secondPage p").slice(ready, ready + numPage).show();
                                    $("#secondPage p").slice(0, ready).hide();
                                    $("#secondPage p").slice(ready + numPage).hide();
                                    if ($("#currentPage").text() > 0) {
                                        $("#currentPage").text(function (i, origText) {
                                            return parseInt(origText) - 1;
                                        });
                                    }
                                }
                            });
                            $("#down").click(function () {
                                if ((ready < $("#secondPage p").size() - numPage)) {
                                    ready = ready + numPage;
                                    $("#secondPage p").slice(ready, ready + numPage).show();
                                    $("#secondPage p").slice(0, ready).hide();
                                    $("#secondPage p").slice(ready + numPage).hide();
                                    if ($("#currentPage").text() < allPage + 1) {
                                        $("#currentPage").text(function (i, origText) {
                                            return parseInt(origText) + 1;
                                        });
                                    }
                                }
                            });
                            $("#begin").click(function () {
                                $("#secondPage p").slice(0, numPage).show();
                                $("#secondPage p").slice(numPage).hide();
                                ready = 0;
                                $("#currentPage").text(function (i, origText) {
                                    return 1;
                                });
                            });
                            $("#end").click(function () {
                                var end = $("#secondPage p").size() % numPage;
                                $("#secondPage p").slice(-end).show();
                                $("#secondPage p").slice(0, -end).hide();
                                ready = $("#secondPage p").size() - end;
                                $("#currentPage").text(function (i, origText) {
                                    return allPage;
                                });
                            });
                            $("#submit").click(function () {
                                var number=parseInt($("#nPage").val());
                                if(number>0&&number<allPage+1){
                                $("#secondPage p").slice((number-1)*numPage,number*numPage).show();
                                $("#secondPage p").slice(0, (number-1)*numPage).hide();
                                $("#secondPage p").slice(number*numPage).hide();
                                ready = number*numPage;
                                $("#currentPage").text(function (i, origText) {
                                    return number;
                                });
                            }
                            });
                        });*/
    </script>
</head>
{include file="Index/header" /}

<body>
    <div class="news_wrapper">
        <div class="col_menu">
            <div class="col_head">
                <span>新闻公告</span>
            </div>
            <div class="col_menu_con">
                <ul class="listcolumn">
                    <li class="column-1">
                        <a href="__PUBLIC__/index/index/news" title="学院新闻"  target="_self" >
                            <span class="column-name" style="box-shadow: 0 -3px 0 0 #0d6782 inset;">学院新闻</span></a>
                    </li>
                    <li class="column-2">
                        <a href="#" title="通知公告"  target="_self"><span class="column-name">通知公告</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col_news">
            <div class="news_head">
                <p>当前位置：首页>新闻公告>学院新闻</p>
            </div>
            <div class="list_detail ">
                <div class="list_detail_1">标题</div>
                <div class="list_detail_2">发布时间</div>
                <div class="list_detail_3">浏览次数</div>
            </div>
            <div id="secondPage" class="show">
                <ul>
                    {volist name="res" id="each" empty="未检测到数据库"}
                    <li id="erg" class="list_news"><a>{$each.title}</a>
                        <span class="label_datatime news_datatime">2018-04-01</span>
                        <span class="news_count">12</span>
                    </li>
                    {/volist}
                </ul>
            </div>
           
<!--             <div id="button">
                第 <span id="currentPage"></span>/<span id="allPage"></span>页
                <button id="begin" type="button">首页</button>
                <button id="up" type="button">上一页</button>
                <button id="down" type="button">下一页</button>
                <button id="end" type="button">尾页</button>
                跳转
                <input type="text" id="nPage">页
                <input type="submit" id="submit" value="go">
            </div> -->
        </div>
    </div>
</body>

</html>