<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8"/>
    <title>搜索结果</title>
    <link rel="stylesheet" href="__STATIC__/css/searchshow-form.css">
</head>
{include file="Index/header" /}

<div class="news_wrapper">
    <div class="col_menu">
        <div class="col_head">
            <span>搜索内容</span>
        </div>
        <div class="col_menu_con">
            <ul class="listcolumn" id="list">
                <li class="column-1">
                    <a href="__PUBLIC__/index.php/index/index/searchshow?id=1&search={$search}"><span
                            class="column-name">新闻搜索</span></a>
                </li>
                <li class="column-1">
                    <a href="__PUBLIC__/index.php/index/index/searchshow?id=2&search={$search}"><span
                            class="column-name">公告搜索</span></a>
                </li>
                <li class="column-1">
                    <a href="__PUBLIC__/index.php/index/index/searchshow?id=3&search={$search}"><span
                            class="column-name">团队搜索</span></a>
                </li>
                <li class="column-1">
                    <a href="__PUBLIC__/index.php/index/index/searchshow?id=4&search={$search}"><span
                            class="column-name">文件搜索</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col_news">
        <div class="list_detail ">
            <div class="list_detail_1">{$tape}</div>
            <div class="list_detail_2">{$tape2}</div>
            <div class="list_detail_3">{$tape3}</div>
        </div>
        <div id="secondPage" class="show">
            <ul>
                {volist name="res" id="vo"}
                <li id="erg" class="list_news">
                    <a href="javascript:a({$vo.id})" id="a">{$vo.title}</a>
                    <span class="label_datatime news_datatime"
                          id="zhouwei">{$vo.create_time |date="Y-m-d",###}</span>
                    <a class="news_count">{$vo.browsing}</a>
                </li>
                {/volist}
            </ul>
        </div>
        {$page}

    </div>
</div>
<style id="css"></style>
<script type="text/javascript">
    window.onload()
    {
        var a = GetRequest();
        var abc = a['id'];
        if (abc == 3) {
            var oCss = document.getElementById('css');
            oCss.innerHTML += ".show span{display:none}";
        }
    }
    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = decodeURIComponent(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }
    function a(var1) {
        var a = GetRequest();
        var abc = a['id'];
        if (abc == 1) {
            window.location.href = '__PUBLIC__/index.php/index/index/newnoticearticle?id=' + var1;
        }
        if (abc == 2) {
            window.location.href = '__PUBLIC__/index.php/index/index/newnoticearticle?id=' + (-1 * var1);
        }
        if (abc == 3) {
            window.location.href = '__PUBLIC__/index.php/index/index/teamcontent?id=' + var1;
        }
        if (abc == 4) {
            window.location.href = '__PUBLIC__/index.php/index/index/file?id=' + var1;
        }
    }
</script>
{include file="Index/footer" /}
</body>
</html>