<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/searchshow-form.css">
</head>
{include file="Index/header" /}
<style>
#publisher{
position: relative;
left:55%;
}
</style>
<body>

  <div>
                    {volist name="ress" id="each" empty="未检索到数据库"}
                    <center><p><h2>{$each.title}</h2></p></center>  
                    <right id="publisher">{$each.publisher}</right>
                            <p>{$each.content}</p>
                    {/volist}
            </div>
     
</body>
</html>
