<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>入驻团队</title>
    <script type="text/javascript">
    // borwserRedirect
    (function browserRedirect(){
      var sUserAgent = navigator.userAgent.toLowerCase();
      var bIsIpad = sUserAgent.match(/ipad/i) == 'ipad';
      var bIsIphone = sUserAgent.match(/iphone os/i) == 'iphone os';
      var bIsMidp = sUserAgent.match(/midp/i) == 'midp';
      var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == 'rv:1.2.3.4';
      var bIsUc = sUserAgent.match(/ucweb/i) == 'web';
      var bIsCE = sUserAgent.match(/windows ce/i) == 'windows ce';
      var bIsWM = sUserAgent.match(/windows mobile/i) == 'windows mobile';
      var bIsAndroid = sUserAgent.match(/android/i) == 'android';
 
      if(bIsIpad || bIsIphone || bIsMidp || bIsUc7 || bIsUc || bIsCE || bIsWM || bIsAndroid ){
      	var obj = document.getElementById("btnB");
        obj.className = "teammb";
      }
    })();
	</script>
    <link rel="stylesheet" href="__STATIC__/css/team.css">
</head>
<body>
{include file="Index/header" /}
<div id="team" class="teampc">
    {volist name="team" id = "vo"}
    <a href="__PUBLIC__/index.php/index/index/teamcontent?id={$vo.id}">
        <div class="fdw-pricing-table" onclick="">
            <div class="plan plan4">
                <div class="header">{$vo.title}</div>
                <img src="__PUBLIC__/uploads/{$vo.mark}" width="110px" height="110px" alt="图标">
                <div class="plan-contain">
                    <div class="price">{$vo.head}</div>
                    <p class="message">{$vo.message}</p>
                    <div style="background-color:#000000;height:1px;border:none;"></div>
                    <div class="monthly">{$vo.date}</div>
                </div>
            </div>
        </div>
    </a>
    {/volist}
    {$page}
</div>
{include file="Index/footer" /}
</body>
</html>