<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
</head>
<body>
{include file="Index/header" /} {volist name="res" id="vo"}
<div class="con-wap">
    <!-- 1st section -->
    <section class="tm-section clearfix">
        <div class="fleft team-1">
            <div class="team-container">
                <!-- <h1 class="tm-text-color-white tm-site-name">Magazee</h1>-->
                <div class="team-con">
                    <img src="__PUBLIC__/uploads/{$vo.mark}" alt="Image" width="170" height="170"
                         class="rounded-circle">
                    <p class="team-text team-text-1">{$vo.title}</p>
                </div>
            </div>
        </div>
        <div class="fleft team-1">

            <div class="team-container">
                <div class="team-con">
                    <h5>{$vo.head}</h5>
                    <p class="team-text">"{$vo.message}"</p>
                </div>
            </div>
        </div>
    </section>
    <div class="team_content">{$vo.content}</div>
</div>
{/volist} {include file="Index/footer" /}
</body>
</html>